.menu {
    background: rgb(75,75,75);
    float: left;
    padding: 10px;
    width: 150px;
    position: fixed;
    text-align: left;
}

.contenu {
    /* width: 50%; */
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 700px;
}

.contenu div + div {
    margin-top: 20px;
}

.nouveau_post, .publication {
    background: rgb(70,70,70);
    padding: 10px;
    width: auto;
    height: auto;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.7)
}

.nouveau_post textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nouveau_post input[type="submit"] {
    float: right;
    background-position-x: 50%;
}

.publication > img {
    margin: 20px;
    max-width: 90%;
}

.like {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
}

button, input {
    border: none;
    border-radius: 10px;
    background: rgb(100,100,100);
}
.like div {
    width: 100%;
    height: 100%;
    background-image: url("like.svg");
    background-size: 100%;
    background-position: center;
    background-repeat:  no-repeat;
}

.publication > * {
    display: inline;
}

.text_area {
    background: rgb(100,100,100);
    outline: none;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5) inset;
    box-sizing: border-box;
    border-radius:12px;
    border: none;
    resize: none;
    width: 50%;
    /* min-height: 10px; */
    padding: 5px;
    color: white;
}

.commentaire {
    background:rgb(100,100,100);
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    border-radius: 5px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: inline-block;
    padding: 10px;
    text-align: center;
}
/* 
.comment_area {
    
} */
.post_comment {
    display: block;
}
.post_comment > * {
    display: inline-block;
}

.nbLike {
    display: inline;
}

body {
    background: rgb(50,50,50);
    color: rgb(250, 250, 250);
    font-family: "Roboto","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}